aiohttp==3.6.2
async-timeout==3.0.1
atomicwrites==1.4.0
attrs==20.2.0
brotlipy==0.7.0
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
colorama==0.4.3
cryptography==3.1.1
daiquiri==2.1.1
dataone.common==3.5.0
dataone.libclient==3.5.0
docopt==0.6.2
idna==2.10
importlib-metadata==1.7.0
iniconfig==0.0.0
iso8601==0.1.13
isodate==0.6.0
more-itertools==8.5.0
multidict==4.7.6
packaging==20.4
pip==20.2.3
pluggy==0.13.1
py==1.9.0
pyasn1==0.4.8
pycparser==2.20
PyJWT==1.7.1
pyOpenSSL==19.1.0
pyparsing==2.4.7
PySocks==1.7.1
pytest==4.6.4
python-json-logger==2.0.0
PyXB==1.2.6
rdflib==5.0.0
requests==2.24.0
requests-toolbelt==0.9.1
setuptools==50.3.0.post20201006
six==1.15.0
toml==0.10.1
urllib3==1.25.10
wcwidth==0.2.5
wheel==0.35.1
yarl==1.6.0
zipp==3.3.0
zipstream==1.1.4
