#!/usr/bin/env python
# -*- coding: utf-8 -*-

""":Mod: properties.py

:Synopsis:

:Author:
    servilla

:Created:
    5/15/17
"""

import logging

logger = logging.getLogger('properties.py')

BASE_URL = u'BASE_URL'
CERT_KEY = u'CERT_KEY.pem'
CERT_PEM = u'CERT_PEM.pem'
VERIFY_TLS = True


def main():
    return 0


if __name__ == "__main__":
    main()